/* vim: set ts=4 expandtab sw=4 foldmethod=marker: */
body {
    position:relative;
    background-color:#f2f2f2;
    margin:0 auto;
    max-width:1270px;
    width:1270px;
}

/*|--- header {{{1 */ 
header {
    position:relative;
    text-align:center;
    background-color:black;
    width:100%;
}

.header_img {
    width:70%;
    height:auto;
    z-index:1
}

.coffe_gif {
    width:20%;
    margin-left:5%;
    z-index:1
}

/* 1}}} */

/*|--- Left Body {{{1 */ 
.left_body {
    position:absolute;
    border-style:none solid solid none;
    line-height:2em;
    width:25%;
    height:1470px;
    background-color:#00004d;
}

.left_body  ul {
    list-style:none;
}

.left_body  nav li {
    position:relative;
    margin-left:0px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-style:none none double none;
    font-size:20px;
    background-color:#00004d;
    border-color:black;
    font-family:"Georgia",sans;
    font-weight:bold;
    color:#009900;
}

.left_body  li:hover {
    font-family:"Georgia",sans;
    color:white;
    background-color:black;
}

.left_body > nav > ul > li >ul {
    display:none;
}

.left_body > nav > ul > li:hover >ul {
    display:block;
    position:absolute;
    left:86.5%;
    top: 0%;
    z-index:2
}

.left_body > nav > ul > li:hover >ul>li {
    width:250px;
}

.left_body a {
    display:block;
    width:100%;
    font-family:"Georgia",sans;
    font-weight:bold;
    color:#009900;
    text-decoration:none;
}

.left_body a:hover {
    display:block;
    width:100%;
    font-family:"Georgia",sans;
    color:white;
    background-color:black;
}


.left_body h1 {
    margin-left:10px;
    color:green;
    font-weight:bold;
    font-size:40px;
}

.left_body li:hover > .myOptButtonBef{
    display:none;
}

.left_body li:hover > .myOptButtonAft{
    content:"";
    display:inline;
    position:absolute;
    right:0%;
}

.myOptButtonBef {
    position:absolute;
    right:0%;
}

.myOptButtonAft {
    display:none;
}
/* 1}}} */

/*|--- main body {{{1 */ 

.main_body {
    /*width:580px;*/
    width:45%;
    position:absolute;
    /*top:220px;*/
    /*top:32%;*/
    /*left:350px;*/
    left:28%;
}

.main_body h1 {
    font-family:Georgia, sans;
    font-size:30px;
    color:blue;
}

.intro p {
    margin:10 10;
    text-align:justify;
    font-family:"Verdana";
    line-height:1.5em;
    text-indent:30px;   
}

.mypic {
    float:right;
    margin-left:10px;
    margin-bottom:2px;
}

.randomStuff ul li {
    list-style:none;
    margin-bottom:30px;
}

.randomStuff figure {
    display:block;
    text-align:center;
}

.sep_line {
    border-style:double none none none;
}
/* 1}}} */

/*|--- Right Body {{{1*/
.right_body {
    position:absolute;
    right:0%;
    /*top:220px;*/
    border-style:none none dashed dashed;
    /*width:300px;*/
    width:25%;
    height:1470px;
    background-color:#e6e6ff;
}

.nice_links h2{
    color:black;
    font-size:1em;
}

.nice_links ul{
    list-style:none;
}

.nice_links li{
    margin-bottom:10px;
    list-style-type: "\1F449";
}

.nice_links a {
    text-decoration:none;
}

.nice_links a:hover {
    font-weight:bold;
    color:blue;
}
/*|--- Nice links 1}}}*/

/*|--- footer {{{1 */ 
footer {
    width:100%;
    height:40px;
    position:relative;
    top:1450px;
    background-color:#000000;
    color:#e60000;
    margin:0px;
}

footer ul {
    top:00px;
}

footer li {
    display:inline;
    list-style:none;
}

.twitter_link {
    position:absolute;
    top:12%;
    right:8%;
}

.github_link {
    position:absolute;
    top:12%;
    right:5%;
}

.myEmail {
    position:absolute;
    top:23%;
    left:23%;
    padding-left:20px;
    font-size:20px;
    border-style:none none none solid;
    border-color:white;
    border-width:thin;
    font-size:18px;
}

.myName {
    position:absolute;
    left:5%;
    color:red;
    font-size:20px;
    top:18%;
    border:none solid none none;
}

footer span {
    font-size:33px;
    color:#33001a;
}
/* 1}}} */

/*|--- Animation {{{1 */
.myAnimation {
    position:absolute;
    animation-name:myAnim;
    animation-duration:3s;
    animation-iteration-count:1;
    left:10px;
    font-size:60px; 
    font-weight:bold;
    animation-timing-function:linear;
    font-smooth: never;
    -webkit-font-smoothing : none;
    color:red;
    z-index:2;
}

@keyframes myAnim {
    0%   {left:100%; color:yellow;}
    50%  {left:50%; color:cyan;}
    100% {left:2%; color:red;}

/*|--- END Animation 1}}} */
