/* vim: set ts=4 expandtab sw=4 foldmethod=marker: */
body {
    position:relative;
    /*background-color:#3333ff;*/
    background-color: black;
    margin:0 0 10px 0;
    max-width:1264px;
    width:1264px;
}

.body2 {
    position:relative;
    top:50px;
    display:block;
}

/*|--- header {{{1 */ 
header {
    position:relative;
    text-align:center;
    background-color:black;
    width:100%;
}

.header_img {
    width:70%;
    height:auto;
    z-index:1
}

.coffe_gif {
    width:20%;
    margin-left:5%;
    z-index:1
}

/* 1}}} */

/*|--- Left Body {{{1 */ 
.left_body {
    position:absolute;
    border-style:none;  
    line-height:2em;
    width:25%;
    background-color:black;
}

.left_body  ul {
    list-style:none;
}

.left_body  nav li {
    position:relative;
    margin-left:0px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-style:none none double none;
    font-size:20px;
    background-color:black;
    border-color:black;
    font-family:"Georgia",sans;
    font-weight:bold;
    color:#009900;
}

.left_body  li:hover {
    font-family:"Georgia",sans;
    color:white;
    background-color:black;
}

.left_body > nav > ul > li >ul {
    display:none;
}

.left_body > nav > ul > li:hover >ul {
    display:block;
    position:absolute;
    left:86.0%;
    top: 0%;
    z-index:2
}

.left_body > nav > ul > li:hover >ul>li {
    width:400px;
    font-size:15px;
}

.left_body a {
    display:block;
    width:100%;
    font-family:"Georgia",sans;
    font-weight:bold;
    color:#009900;
    text-decoration:none;
}

.left_body a:hover {
    display:block;
    width:100%;
    font-family:"Georgia",sans;
    color:white;
    background-color:black;
}


.left_body h1 {
    margin-left:10px;
    color:green;
    font-weight:bold;
    font-size:40px;
}

.left_body li:hover > .myOptButtonBef{
    display:none;
    font-size:15px;
}

.left_body li:hover > .myOptButtonAft{
    content:"";
    display:inline;
    position:absolute;
    right:0%;
    font-size:15px;
}

.myOptButtonBef {
    position:absolute;
    right:0%;
    font-size:15px;
}

.myOptButtonAft {
    display:none;
    font-size:15px;
}
/* 1}}} */

/*|--- main body {{{1 */ 

.main_body {
    /*width:580px;*/
    width:50%;
    position:absolute;
    /*top:220px;*/
    /*top:32%;*/
    /*left:350px;*/
    left:25%;
    background-color:black;
    color: #b3b3b3;
}

.main_body h1 {
    line-height:2em;
    margin:2.5% 0% 0% 5%;
    font-family:"Georgia", sans;
    font-size:40px;
    font-weight:bold;
    color:  #1f1f7a;
}

.main_body h2 {
    line-height:2em;
    margin:1.0% 0% 0% 5%;
    font-family:"Georgia", sans;
    font-size:35px;
    font-weight:bold;
    color:  #1f1f7a;
}

.intro p {
    margin:2% 5% 2% 5%;
    text-align:justify;
    font-family:"Verdana";
    line-height:1.5em;
    text-indent:30px;   
    font-size:1.1em;
}

.intro p {
    font-family:"Verdana";
    line-height:1.5em;
    text-indent:30px;   
    font-size:1.1em;
}

.mypic {
    float:left;
    margin-left:10px;
    margin-bottom:2px;
    margin-right:5px;
}
.books {
    margin-left:0px;
}

.randomStuff ul li {
    list-style:none;
    margin-bottom:30px;
}

.randomStuff figure {
    display:block;
    text-align:center;
}

.sep_line {
    border-style:double none none none;
}
/* 1}}} */

/*|--- Right Body {{{1*/
.right_body {
    position:absolute;
    right:0%;
    /*top:220px;*/
    border-style:none none none none;
    /*width:300px;*/
    width:22%;
    /*background-color:#e6e6ff;*/
    background-color:black;
    color:#009900;
}

.nice_links h2{
    font-size:1.5em;
    margin:28% 1% 2% 12%;
    color:#009900;
    font-weight:bold;
}

.nice_links ul{
    list-style:none;
}

.nice_links li{
    padding-left:2%;
    margin-bottom:14px;
    /*list-style-type: "\1F449";*/
}

.nice_links a {
    text-decoration:none;
    font-size:17px;
    color:  #595959;
    font-family:"Georgia",sans;
}

.nice_links a:hover {
    font-weight:bold;
}
/*|--- Nice links 1}}}*/

/*|--- myContacts {{{1 */ 
.myContacts {
    width:100%;
    height:40px;
    background-color:#000000;
    color:#e60000;
    margin:0px;
    position:absolute;
    top:0;
}

.myContacts ul {
    top:00px;
}

.myContacts li {
    display:inline;
    list-style:none;
}

.twitter_link {
    position:absolute;
    top:15%;
    right:4.5%;
}

.github_link {
    position:absolute;
    top:12%;
    right:1%;
}

.myEmail {
    font-family:"Georgia",sans;
    position:absolute;
    top:8%;
    right:8.3%;
    padding-left:20px;
    font-size:2.2em;
    color:   #737373;
}

footer span {
    font-size:33px;
    color:#33001a;
}
/* 1}}} */

/*|--- Animation {{{1 */
.myAnimation {
    position:absolute;
    animation-name:myAnim;
    animation-duration:3s;
    animation-iteration-count:1;
    left:10px;
    font-size:60px; 
    font-weight:bold;
    animation-timing-function:linear;
    font-smooth: never;
    -webkit-font-smoothing : none;
    color:red;
    z-index:2;
}

@keyframes myAnim {
    0%   {left:100%; color:yellow;}
    50%  {left:50%; color:cyan;}
    100% {left:2%; color:red;}

/*|--- END Animation 1}}} */
